/* Mantém o estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d8cccc;
    color: #340000;
}

header {
    background-image: url(image\ copy.png); /*MUDAR*/
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

header p {
    font-size: 14px;
    color: #666;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin-top: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border: 0.5px solid #ec1414;
    border-radius: 30px;
    background-color: #fff; /*MUDAR*/
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #ddd; /*MUDAR*/
}

/* Seções */
section {
    margin-top: 50px;
}

section h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

.grade-produtos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.produto h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.produto p {
    font-size: 14px;
    margin-bottom: 5px;
}

.comprar {
    background-color: #00c921;
    border-radius: 5px;
    border: 0.5px solid #00c921;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    font-size: 12px;
}
